# 1. Data Exploration and Preprocessing:

In [2]:
import pandas as pd
df = pd.read_csv(r"C:\Data Science Asignments datasets\adult_with_headers.csv")
df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education_num   32561 non-null  int64
 5   marital_status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital_gain    32561 non-null  int64
 11  capital_loss    32561 non-null  int64
 12  hours_per_week  32561 non-null  int64
 13  native_country  32561 non-null  object
 14  income          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [4]:
df["workclass"].value_counts()

workclass
Private             22696
Self-emp-not-inc     2541
Local-gov            2093
?                    1836
State-gov            1298
Self-emp-inc         1116
Federal-gov           960
Without-pay            14
Never-worked            7
Name: count, dtype: int64

In [5]:
df["education"].value_counts()

education
HS-grad         10501
Some-college     7291
Bachelors        5355
Masters          1723
Assoc-voc        1382
11th             1175
Assoc-acdm       1067
10th              933
7th-8th           646
Prof-school       576
9th               514
12th              433
Doctorate         413
5th-6th           333
1st-4th           168
Preschool          51
Name: count, dtype: int64

In [6]:
df["marital_status"].value_counts()

marital_status
Married-civ-spouse       14976
Never-married            10683
Divorced                  4443
Separated                 1025
Widowed                    993
Married-spouse-absent      418
Married-AF-spouse           23
Name: count, dtype: int64

In [7]:
df["occupation"].value_counts()

occupation
Prof-specialty       4140
Craft-repair         4099
Exec-managerial      4066
Adm-clerical         3770
Sales                3650
Other-service        3295
Machine-op-inspct    2002
?                    1843
Transport-moving     1597
Handlers-cleaners    1370
Farming-fishing       994
Tech-support          928
Protective-serv       649
Priv-house-serv       149
Armed-Forces            9
Name: count, dtype: int64

In [8]:
df["relationship"].value_counts()

relationship
Husband           13193
Not-in-family      8305
Own-child          5068
Unmarried          3446
Wife               1568
Other-relative      981
Name: count, dtype: int64

In [9]:
df["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

In [10]:
df["sex"].value_counts()

sex
Male      21790
Female    10771
Name: count, dtype: int64

In [11]:
df["native_country"].value_counts()

native_country
United-States                 29170
Mexico                          643
?                               583
Philippines                     198
Germany                         137
Canada                          121
Puerto-Rico                     114
El-Salvador                     106
India                           100
Cuba                             95
England                          90
Jamaica                          81
South                            80
China                            75
Italy                            73
Dominican-Republic               70
Vietnam                          67
Guatemala                        64
Japan                            62
Poland                           60
Columbia                         59
Taiwan                           51
Haiti                            44
Iran                             43
Portugal                         37
Nicaragua                        34
Peru                             31
France                           29
Greece                           29
Ecuador                          28
Ireland                          24
Hong                             20
Trinadad&Tobago                  19
Cambodia                         19
Thailand                         18
Laos                             18
Yugoslavia                       16
Outlying-US(Guam-USVI-etc)       14
Honduras                         13
Hungary                          13
Scotland                         12
Holand-Netherlands                1
Name: count, dtype: int64

In [12]:
df["income"].value_counts()

income
<=50K    24720
>50K      7841
Name: count, dtype: int64

In [13]:
df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [14]:
print(df.describe())

                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32561.000000  3.256100e+04   32561.000000  32561.000000  32561.000000
mean      38.581647  1.897784e+05      10.080679   1077.648844     87.303830
std       13.640433  1.055500e+05       2.572720   7385.292085    402.960219
min       17.000000  1.228500e+04       1.000000      0.000000      0.000000
25%       28.000000  1.178270e+05       9.000000      0.000000      0.000000
50%       37.000000  1.783560e+05      10.000000      0.000000      0.000000
75%       48.000000  2.370510e+05      12.000000      0.000000      0.000000
max       90.000000  1.484705e+06      16.000000  99999.000000   4356.000000

       hours_per_week
count    32561.000000
mean        40.437456
std         12.347429
min          1.000000
25%         40.000000
50%         40.000000
75%         45.000000
max         99.000000

In [15]:
num_cols = df.select_dtypes(include=['int64'])
num_cols

       age  fnlwgt  education_num  capital_gain  capital_loss  hours_per_week
0       39   77516             13          2174             0              40
1       50   83311             13             0             0              13
2       38  215646              9             0             0              40
3       53  234721              7             0             0              40
4       28  338409             13             0             0              40
...    ...     ...            ...           ...           ...             ...
32556   27  257302             12             0             0              38
32557   40  154374              9             0             0              40
32558   58  151910              9             0             0              40
32559   22  201490              9             0             0              20
32560   52  287927              9         15024             0              40

[32561 rows x 6 columns]

In [16]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
SS_num = SS.fit_transform(num_cols)
SS_num = pd.DataFrame(SS_num)
SS_num.columns = list(num_cols)
SS_num

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.030671,-1.063611,1.134739,0.148453,-0.21666,-0.035429
1,0.837109,-1.008707,1.134739,-0.145920,-0.21666,-2.222153
2,-0.042642,0.245079,-0.420060,-0.145920,-0.21666,-0.035429
3,1.057047,0.425801,-1.197459,-0.145920,-0.21666,-0.035429
4,-0.775768,1.408176,1.134739,-0.145920,-0.21666,-0.035429
...,...,...,...,...,...,...
32556,-0.849080,0.639741,0.746039,-0.145920,-0.21666,-0.197409
32557,0.103983,-0.335433,-0.420060,-0.145920,-0.21666,-0.035429
32558,1.423610,-0.358777,-0.420060,-0.145920,-0.21666,-0.035429
32559,-1.215643,0.110960,-0.420060,-0.145920,-0.21666,-1.655225
32560,0.983734,0.929893,-0.420060,1.888424,-0.21666,-0.035429

In [17]:
from sklearn.preprocessing import MinMaxScaler
MM = MinMaxScaler()
MM_num = MM.fit_transform(num_cols)
MM_num = pd.DataFrame(MM_num)
MM_num.columns = list(num_cols)
MM_num

,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.301370,0.044302,0.800000,0.021740,0.0,0.397959
1,0.452055,0.048238,0.800000,0.000000,0.0,0.122449
2,0.287671,0.138113,0.533333,0.000000,0.0,0.397959
3,0.493151,0.151068,0.400000,0.000000,0.0,0.397959
4,0.150685,0.221488,0.800000,0.000000,0.0,0.397959
...,...,...,...,...,...,...
32556,0.136986,0.166404,0.733333,0.000000,0.0,0.377551
32557,0.315068,0.096500,0.533333,0.000000,0.0,0.397959
32558,0.561644,0.094827,0.533333,0.000000,0.0,0.397959
32559,0.068493,0.128499,0.533333,0.000000,0.0,0.193878
32560,0.479452,0.187203,0.533333,0.150242,0.0,0.397959

# 2. Encoding Techniques:

In [18]:
OHE_cols = pd.concat([df["sex"],df["income"]],axis=1)
OHE_cols

           sex  income
0         Male   <=50K
1         Male   <=50K
2         Male   <=50K
3         Male   <=50K
4       Female   <=50K
...        ...     ...
32556   Female   <=50K
32557     Male    >50K
32558   Female   <=50K
32559     Male   <=50K
32560   Female    >50K

[32561 rows x 2 columns]

In [19]:
from sklearn.preprocessing import OneHotEncoder
OHE = OneHotEncoder()

In [20]:
OHE1 = OHE.fit_transform(OHE_cols[["sex"]]).toarray()
OHE1 = pd.DataFrame(OHE1)
OHE1.columns = ["Sex_Female",'Sex_Male']
OHE1.head()

   Sex_Female  Sex_Male
0         0.0       1.0
1         0.0       1.0
2         0.0       1.0
3         0.0       1.0
4         1.0       0.0

In [21]:
OHE2 = OHE.fit_transform(OHE_cols[["income"]]).toarray()
OHE2 = pd.DataFrame(OHE2)
OHE2.columns = ["income_<=50K",'income_>50K']
OHE2.head()

   income_<=50K  income_>50K
0           1.0          0.0
1           1.0          0.0
2           1.0          0.0
3           1.0          0.0
4           1.0          0.0

In [22]:
OHE = pd.concat([OHE1,OHE2],axis=1)
OHE

       Sex_Female  Sex_Male  income_<=50K  income_>50K
0             0.0       1.0           1.0          0.0
1             0.0       1.0           1.0          0.0
2             0.0       1.0           1.0          0.0
3             0.0       1.0           1.0          0.0
4             1.0       0.0           1.0          0.0
...           ...       ...           ...          ...
32556         1.0       0.0           1.0          0.0
32557         0.0       1.0           0.0          1.0
32558         1.0       0.0           1.0          0.0
32559         0.0       1.0           1.0          0.0
32560         1.0       0.0           0.0          1.0

[32561 rows x 4 columns]

In [23]:
objects = df.select_dtypes(include=["object"])
LE_obj = objects.drop(["sex","income"],axis=1)
LE_obj

,workclass,education,marital_status,occupation,relationship,race,native_country
0,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,United-States
1,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,United-States
2,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,United-States
3,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,United-States
4,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Cuba
...,...,...,...,...,...,...,...
32556,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,United-States
32557,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,United-States
32558,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,United-States
32559,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,United-States
32560,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,United-States

In [24]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
LE_var = LE_obj.apply(LE.fit_transform)
LE_var.columns = list(LE_obj)
LE_var

,workclass,education,marital_status,occupation,relationship,race,native_country
0,7,9,4,1,1,4,39
1,6,9,2,4,0,4,39
2,4,11,0,6,1,4,39
3,4,1,2,6,0,2,39
4,4,9,2,10,5,2,5
...,...,...,...,...,...,...,...
32556,4,7,2,13,5,4,39
32557,4,11,2,7,0,4,39
32558,4,11,6,1,4,4,39
32559,4,11,4,1,3,4,39
32560,5,11,2,4,5,4,39

In [25]:
Cat_var = pd.concat([OHE,LE_var],axis=1)
Cat_var

,Sex_Female,Sex_Male,income_<=50K,income_>50K,workclass,education,marital_status,occupation,relationship,race,native_country
0,0.0,1.0,1.0,0.0,7,9,4,1,1,4,39
1,0.0,1.0,1.0,0.0,6,9,2,4,0,4,39
2,0.0,1.0,1.0,0.0,4,11,0,6,1,4,39
3,0.0,1.0,1.0,0.0,4,1,2,6,0,2,39
4,1.0,0.0,1.0,0.0,4,9,2,10,5,2,5
...,...,...,...,...,...,...,...,...,...,...,...
32556,1.0,0.0,1.0,0.0,4,7,2,13,5,4,39
32557,0.0,1.0,0.0,1.0,4,11,2,7,0,4,39
32558,1.0,0.0,1.0,0.0,4,11,6,1,4,4,39
32559,0.0,1.0,1.0,0.0,4,11,4,1,3,4,39
32560,1.0,0.0,0.0,1.0,5,11,2,4,5,4,39

In [26]:
df_new = pd.concat([Cat_var,MM_num],axis=1)
df_new

,Sex_Female,Sex_Male,income_<=50K,income_>50K,workclass,education,marital_status,occupation,relationship,race,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week
0,0.0,1.0,1.0,0.0,7,9,4,1,1,4,39,0.301370,0.044302,0.800000,0.021740,0.0,0.397959
1,0.0,1.0,1.0,0.0,6,9,2,4,0,4,39,0.452055,0.048238,0.800000,0.000000,0.0,0.122449
2,0.0,1.0,1.0,0.0,4,11,0,6,1,4,39,0.287671,0.138113,0.533333,0.000000,0.0,0.397959
3,0.0,1.0,1.0,0.0,4,1,2,6,0,2,39,0.493151,0.151068,0.400000,0.000000,0.0,0.397959
4,1.0,0.0,1.0,0.0,4,9,2,10,5,2,5,0.150685,0.221488,0.800000,0.000000,0.0,0.397959
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,1.0,0.0,1.0,0.0,4,7,2,13,5,4,39,0.136986,0.166404,0.733333,0.000000,0.0,0.377551
32557,0.0,1.0,0.0,1.0,4,11,2,7,0,4,39,0.315068,0.096500,0.533333,0.000000,0.0,0.397959
32558,1.0,0.0,1.0,0.0,4,11,6,1,4,4,39,0.561644,0.094827,0.533333,0.000000,0.0,0.397959
32559,0.0,1.0,1.0,0.0,4,11,4,1,3,4,39,0.068493,0.128499,0.533333,0.000000,0.0,0.193878
32560,1.0,0.0,0.0,1.0,5,11,2,4,5,4,39,0.479452,0.187203,0.533333,0.150242,0.0,0.397959

# 3. Feature Engineering:

In [27]:
from sklearn.feature_selection import SelectKBest, chi2

In [28]:
X = Cat_var.drop(['income_<=50K', 'income_>50K'], axis=1)
Y = Cat_var['income_>50K']

In [29]:
chi2_selector = SelectKBest(chi2, k='all')
chi2_selector.fit(X, Y)

SelectKBest(k='all', score_func=<function chi2 at 0x000002349D87B100>)

In [30]:
chi2_pvalues = pd.DataFrame(chi2_selector.pvalues_, index=X.columns, columns=['p_value'])

In [31]:
display(chi2_pvalues.sort_values(by='p_value'))

                      p_value
relationship     0.000000e+00
marital_status  2.617595e-246
Sex_Female      4.777743e-223
occupation      9.684220e-112
Sex_Male        2.800299e-111
education        9.248822e-67
workclass        5.477660e-12
race             9.068686e-09
native_country   2.238774e-04

In [32]:
skewness = num_cols.skew()
display(skewness)

age                0.558743
fnlwgt             1.446980
education_num     -0.311676
capital_gain      11.953848
capital_loss       4.594629
hours_per_week     0.227643
dtype: float64

In [33]:
import numpy as np
df_new['capital_gain_log'] = np.log1p(df_new['capital_gain'])
display(df_new[['capital_gain', 'capital_gain_log']])

       capital_gain  capital_gain_log
0          0.021740          0.021507
1          0.000000          0.000000
2          0.000000          0.000000
3          0.000000          0.000000
4          0.000000          0.000000
...             ...               ...
32556      0.000000          0.000000
32557      0.000000          0.000000
32558      0.000000          0.000000
32559      0.000000          0.000000
32560      0.150242          0.139972

[32561 rows x 2 columns]

# 4. Feature Selection:

In [34]:
from sklearn.ensemble import IsolationForest
iso_forest = IsolationForest(contamination='auto', random_state=42)

In [35]:
outliers = iso_forest.fit_predict(df_new[['age', 'fnlwgt', 'education_num', 'capital_gain', 'capital_loss', 'hours_per_week']])

In [36]:
#Outliers leads to overfitting, skewing, and less model accuracy.

In [37]:
#removing outliers
df_no_outliers = df_new[outliers == 1].copy()

In [38]:
df_new.shape

(32561, 18)

In [39]:
df_no_outliers.shape

(29247, 18)

In [40]:
df_no_outliers

,Sex_Female,Sex_Male,income_<=50K,income_>50K,workclass,education,marital_status,occupation,relationship,race,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,capital_gain_log
0,0.0,1.0,1.0,0.0,7,9,4,1,1,4,39,0.301370,0.044302,0.800000,0.02174,0.0,0.397959,0.021507
1,0.0,1.0,1.0,0.0,6,9,2,4,0,4,39,0.452055,0.048238,0.800000,0.00000,0.0,0.122449,0.000000
2,0.0,1.0,1.0,0.0,4,11,0,6,1,4,39,0.287671,0.138113,0.533333,0.00000,0.0,0.397959,0.000000
3,0.0,1.0,1.0,0.0,4,1,2,6,0,2,39,0.493151,0.151068,0.400000,0.00000,0.0,0.397959,0.000000
4,1.0,0.0,1.0,0.0,4,9,2,10,5,2,5,0.150685,0.221488,0.800000,0.00000,0.0,0.397959,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,0.0,1.0,1.0,0.0,4,15,4,11,1,4,39,0.068493,0.202298,0.600000,0.00000,0.0,0.397959,0.000000
32556,1.0,0.0,1.0,0.0,4,7,2,13,5,4,39,0.136986,0.166404,0.733333,0.00000,0.0,0.377551,0.000000
32557,0.0,1.0,0.0,1.0,4,11,2,7,0,4,39,0.315068,0.096500,0.533333,0.00000,0.0,0.397959,0.000000
32558,1.0,0.0,1.0,0.0,4,11,6,1,4,4,39,0.561644,0.094827,0.533333,0.00000,0.0,0.397959,0.000000
32559,0.0,1.0,1.0,0.0,4,11,4,1,3,4,39,0.068493,0.128499,0.533333,0.00000,0.0,0.193878,0.000000

In [41]:
Y = df_no_outliers["income_>50K"]
X = df_no_outliers.drop(["income_>50K","income_<=50K"], axis=1)

In [42]:
from sklearn.tree import DecisionTreeClassifier   # decision tree regressor
model = DecisionTreeClassifier(criterion='gini') # entropy
model.fit(X,Y)

DecisionTreeClassifier()

In [43]:
Y_pred =  model.predict(X)

In [44]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(Y, Y_pred)
mae_baseline = mean_absolute_error(Y_pred, np.full_like(Y_pred, Y.mean()))

In [45]:
pps_score = max(0, 1 - (mae / mae_baseline))
print("pps score: ",pps_score)

pps score:  0.9998976901928279

In [48]:
df_no_outliers.corr()

,Sex_Female,Sex_Male,income_<=50K,income_>50K,workclass,education,marital_status,occupation,relationship,race,native_country,age,fnlwgt,education_num,capital_gain,capital_loss,hours_per_week,capital_gain_log
Sex_Female,1.000000,-1.000000,0.205698,-0.205698,-0.093512,0.031786,0.115107,-0.082588,0.575783,-0.087455,0.008885,-0.087445,-0.027388,-0.000813,-0.054519,0.008974,-0.237417,-0.054925
Sex_Male,-1.000000,1.000000,-0.205698,0.205698,0.093512,-0.031786,-0.115107,0.082588,-0.575783,0.087455,-0.008885,0.087445,0.027388,0.000813,0.054519,-0.008974,0.237417,0.054925
income_<=50K,0.205698,-0.205698,1.000000,-1.000000,-0.033852,-0.064035,0.190753,-0.065456,0.242554,-0.070162,-0.016691,-0.236384,0.014582,-0.297281,-0.270757,0.004990,-0.220145,-0.270648
income_>50K,-0.205698,0.205698,-1.000000,1.000000,0.033852,0.064035,-0.190753,0.065456,-0.242554,0.070162,0.016691,0.236384,-0.014582,0.297281,0.270757,-0.004990,0.220145,0.270648
workclass,-0.093512,0.093512,-0.033852,0.033852,1.000000,0.016355,-0.057088,0.240725,-0.096744,0.048523,-0.001509,0.026771,-0.018850,0.045446,0.010010,0.003916,0.115855,0.009955
education,0.031786,-0.031786,-0.064035,0.064035,0.016355,1.000000,-0.027720,-0.028050,-0.007412,0.015104,0.059388,0.001264,-0.016476,0.334265,0.015134,0.006108,0.038064,0.015375
marital_status,0.115107,-0.115107,0.190753,-0.190753,-0.057088,-0.027720,1.000000,-0.004541,0.182426,-0.067671,-0.020123,-0.304750,0.027028,-0.046378,-0.060399,-0.015483,-0.192678,-0.060785
occupation,-0.082588,0.082588,-0.065456,0.065456,0.240725,-0.028050,-0.004541,1.000000,-0.077622,0.007641,-0.010149,-0.007377,-0.003799,0.105030,0.016394,0.003638,0.064065,0.016347
relationship,0.575783,-0.575783,0.242554,-0.242554,-0.096744,-0.007412,0.182426,-0.077622,1.000000,-0.117618,-0.002925,-0.262735,0.008819,-0.086926,-0.072826,0.014081,-0.266014,-0.073219
race,-0.087455,0.087455,-0.070162,0.070162,0.048523,0.015104,-0.067671,0.007641,-0.117618,1.000000,0.136620,0.026092,-0.024014,0.025573,0.013974,0.004008,0.047067,0.014277
native_country,0.008885,-0.008885,-0.016691,0.016691,-0.001509,0.059388,-0.020123,-0.010149,-0.002925,0.136620,1.000000,-0.001507,-0.044284,0.037474,0.016962,-0.006754,-0.000650,0.016937
age,-0.087445,0.087445,-0.236384,0.236384,0.026771,0.001264,-0.304750,-0.007377,-0.262735,0.026092,-0.001507,1.000000,-0.075740,0.040510,0.074323,0.017255,0.135762,0.074783
fnlwgt,-0.027388,0.027388,0.014582,-0.014582,-0.018850,-0.016476,0.027028,-0.003799,0.008819,-0.024014,-0.044284,-0.075740,1.000000,-0.033550,-0.018473,0.000313,-0.018476,-0.018492
education_num,-0.000813,0.000813,-0.297281,0.297281,0.045446,0.334265,-0.046378,0.105030,-0.086926,0.025573,0.037474,0.040510,-0.033550,1.000000,0.090800,0.012009,0.128471,0.090752
capital_gain,-0.054519,0.054519,-0.270757,0.270757,0.010010,0.015134,-0.060399,0.016394,-0.072826,0.013974,0.016962,0.074323,-0.018473,0.090800,1.000000,-0.008829,0.055781,0.999818
capital_loss,0.008974,-0.008974,0.004990,-0.004990,0.003916,0.006108,-0.015483,0.003638,0.014081,0.004008,-0.006754,0.017255,0.000313,0.012009,-0.008829,1.000000,0.000865,-0.008913
hours_per_week,-0.237417,0.237417,-0.220145,0.220145,0.115855,0.038064,-0.192678,0.064065,-0.266014,0.047067,-0.000650,0.135762,-0.018476,0.128471,0.055781,0.000865,1.000000,0.056032
capital_gain_log,-0.054925,0.054925,-0.270648,0.270648,0.009955,0.015375,-0.060785,0.016347,-0.073219,0.014277,0.016937,0.074783,-0.018492,0.090752,0.999818,-0.008913,0.056032,1.000000